.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

#buzz{
margin-bottom: 500px;
}

#pricing{
margin-bottom: 500px;
}

#about{
margin-bottom: 1000px;
}

#contact{
margin-bottom: 0px;
}